.container_12
  .grid_12
    %h2 Ajude alguém que esteja por perto...
    = gmaps(:markers => {:data => @json}, :map_options => {:center_on_user => true, :zoom => 12, :auto_adjust => false})
    %hr
  - if can? :create, @request
    .grid_8.push_2
      %h2 Conhece alguém que precisa de ajuda?
      = form_for @request do |form|
        - if @request.errors.any?
          #error_explanation
            %ul
              - @request.errors.full_messages.each do |msg|
                %li= msg
        .grid_3.alpha Sangue que necessita
        .grid_5.omega
          - BloodType.all.each do |type|
            = check_box_tag "request[blood_type_ids][]", type.id, false, :id => "request_blood_type_ids_#{type.id}"
            = label_tag "request_blood_type_ids_#{type.id}", type.name
        .grid_3.alpha= form.label :receptor
        .grid_5.omega= form.text_field :receptor, {:placeholder => "Ex: Nícolas Faccin Iensen"}
        .grid_3.alpha= form.label :location
        .grid_5.omega= form.text_field :location, {:placeholder => "Ex: Hospital Santa Casa, Porto Alegre"}
        .grid_5.alpha.push_3= form.submit "Pedir ajuda!", :class => "btn_red"
    
    .grid_12
      %hr
    .grid_8.push_2
      %h2 O que é isso?
      %p 
        Pra ser sincero o Blood Runner é apenas uma idéia, mas se houver um número suficiente de interessados
        = link_to "eu", "http://www.facebook.com/nicolas.iensen"
        tiro ela do papel.
      %p Existem várias pessoas por aí querendo doar sangue, e ao mesmo tempo pessoas precisando de ajuda. Só que hoje, quando precisamos de um doador, temos que enviar emails para uma lista de amigos e esperar que a notícia se espalhe.
      %p Ok... Talvez isso até funcione, mas porque não aproveitar as redes sociais para isso? Não seria legal saber quais amigos seus estão precisando de ajuda? Ou até alguém que mora perto de você? E se houver um banco de sangue carente do seu tipo sanguíneo?
      %p Então a idéia é essa, aproximar quem deseja doar com quem precisa. Ah! E tudo que for desenvolvido será por demanda de vocês, por isso coloquei aquele botão lá embaixo para sugestões.
      - if !signed_in?
        %p Se você curtiu essa idéia, comece conectando a sua conta do Facebook ao Blood Runner. Assim que o projeto for evoluindo eu aviso vocês!
        %p
          = link_to "Entrar com o Facebook", "/auth/facebook", :class => "btn_facebook"
