.container_12
  - if can? :create, @request
    .grid_8.push_2
      %h2 Conhece alguém que precisa de ajuda?
      = form_for @request do |form|
        - if @request.errors.any?
          #error_explanation
            %ul
              - @request.errors.full_messages.each do |msg|
                %li= msg
        .grid_3.alpha Sangue que necessita
        .grid_5.omega
          - BloodType.all.each do |type|
            = check_box_tag "request[blood_type_ids][]", type.id, false, :id => "request_blood_type_ids_#{type.id}"
            = label_tag "request_blood_type_ids_#{type.id}", type.name
        .grid_3.alpha= form.label :receptor
        .grid_5.omega= form.text_field :receptor, {:placeholder => "Ex: Nícolas Faccin Iensen"}
        .grid_3.alpha= form.label :location
        .grid_5.omega= form.text_field :location, {:placeholder => "Ex: Av. Independência, 155, Porto Alegre"}
        .grid_5.alpha.push_3= form.submit "Pedir ajuda!", :class => "btn_red"
