!!!
%html
  %head
    %title= content_for?(:title) ? (yield :title) : "Blood Runner é um app para aproximar quem deseja doar sangue com quem precisa"
    = stylesheet_link_tag "ui.progress-bar.css"
    = stylesheet_link_tag "gmaps4rails"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "grid"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Special+Elite"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela+Round"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Bowlby+One+SC"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "http://blood-runner.heroku.com/assets/blood_runner.png", :property => "og:image"}
    %link{:href => image_path("favicon.gif"), :rel => "icon", :type => "image/x-icon"}
  %body{"data-controller" => controller.controller_name, "data-action" => controller.action_name}
    #header
      #title
        .container_12
          .grid_12
            = link_to root_path, :id => "logo" do
              %h1 Blood Runner
            - if signed_in?
              = link_to "Sair", "/sign_out", :method => :delete, :class => "btn_facebook"
            - else
              = link_to "Entrar com o Facebook", "/auth/facebook", :class => "btn_facebook"
            .btn_share
              %a.twitter-share-button{"data-lang" => "pt", "data-url" => "http://blood-runner.heroku.com/", :href => "https://twitter.com/share"} Tweet
            .btn_share
              .fb-like{"data-href" => "http://blood-runner.heroku.com/", "data-send" => "false", "data-layout" => "button_count", "data-width" => "50", "data-show-faces" => "true", "data-font" => "arial"}
      - if notice
        .container_12
          .grid_12
            #notice= notice
      - if signed_in? && current_user.blood_type.nil?
        .container_12
          .grid_12
            #type_your_blood_type
              Olá
              %strong= "#{current_user.name},"
              qual o seu tipo sanguíneo?
              %br
              - BloodType.all.each do |type|
                = form_for current_user do |form|
                  = form.hidden_field :blood_type_id, :value => type.id
                  = form.submit type.name, :class => "btn_red"
    = yield
    %a{:href => "https://github.com/nicolasiensen/blood-runner"}
      %img{:alt => "Fork me on GitHub", :src => "https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", :style => "position: absolute; top: 0; right: 0; border: 0;"}
  = yield :scripts
  #fb-root
  :javascript
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=167709893328163";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27626466-1']);
    _gaq.push(['_trackPageview']);  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  :javascript
    var uvOptions = {};
    (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/4IBCDScneKDXajFq5uf20Q.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
