!!!
%html
  %head
    %title Blood Runner é um app para aproximar quem deseja doar sangue com quem precisa
    = stylesheet_link_tag "ui.progress-bar.css"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "grid"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Special+Elite"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela+Round"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Bowlby+One+SC"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => image_path("favicon.gif"), :rel => "icon", :type => "image/x-icon"}
  %body
    #header
      .container_12
        .grid_12= notice
        /
          .grid_12
            - if signed_in? && current_user.blood_type.nil?
              Olá
              = "#{current_user.name},"
              qual o seu tipo sanguíneo?
              - BloodType.all.each do |type|
                = form_for current_user do |form|
                  = form.hidden_field :blood_type_id, :value => type.id
                  = form.submit type.name, :class => "btn_red"
            - else
              = link_to "Sair", "/sign_out", :method => :delete
    = yield
    %script
      var uvOptions = {};
      (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/4IBCDScneKDXajFq5uf20Q.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
  #fb-root
  :javascript
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=167709893328163";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
